.right
{
    text-align: right;
    margin: 5px;
}
.card
{
    flex-direction: row;
}
.card-img-top
{
    width: 18rem;
    height: 15rem;
}
.genres
{
    font-weight: 550;
}
.actors
{
    font-weight: 550;
}
.producer
{
    font-weight: 550;
}
.movieCards .col-sm-12
{
    margin-bottom: 2%;
}
.editButton
{
    color: #009688;
}
.editButton:hover
{
    color: #02665c;
}
.deleteButton 
{
    color: #f44336;
}
.deleteButton:hover
{
    color: #ca1406;
}