.right
{
    text-align: right;
    margin: 5px;
}
.card
{
    flex-direction: row;
}
.dob
{
    font-weight: 550;
}
.sex
{
    font-weight: 550;
}
.producerCards .col-sm-6
{
    margin-bottom: 2%;
}
.editButton
{
    color: #009688;
}
.editButton:hover
{
    color: #02665c;
}
.deleteButton 
{
    color: #f44336;
}
.deleteButton:hover
{
    color: #ca1406;
}