<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link navbar-brand active" href="index.html">DeltaX</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="index.html">Movies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="actors.html">Actors</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="producers.html">Producers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="genres.html">Genres</a>
        </li>
    </ul>
</nav>